<!DOCTYPE html>
<html>
<head>
    <title>Blog Home</title>
</head>
<body>
    <h1>Published Posts</h1>

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url 'posts:post-detail' post.slug %}">
                        <strong>{{ post.title }}</strong>
                    </a>

                    {{ post.content|truncatewords:30 }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts published yet.</p>
    {% endif %}
</body>
</html>
